@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
    url('./assets/fonts/Ubuntu-Regular.woff') format('woff'),
    url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
    url('./assets/fonts/Ubuntu-Medium.woff') format('woff'),
    url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Regular.woff') format('woff'),
    url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Medium.woff') format('woff'),
    url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-main: 'Ubuntu';
    --font-accent: 'Gilroy';

    --color-text-main: #575F6C;
    --color-text-dark: #333333;
    --color-gray-main: #EBEEF0;
    --color-primary: #0072AB;

    --base-font-size: 16px;
}

body {
    margin: 0;
    font-family: var(--font-main), sans-serif;
    font-size: var(--base-font-size);
    font-weight: 400;
    color: var(--color-text-main);
    scrollbar-color: var(--color-primary) #FFFFFF;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0072AB;
    border-radius: 8px;
}

.font-gilroy {
    font-family: var(--font-accent), sans-serif;
    color: var(--color-text-dark);
}

.side {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-text-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*for footer*/
.sandbars {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 1rem;
}

.sandbars .main-text {
    font-weight: 500;
    color: #333;
    font-size: 1rem;
    text-decoration: none;
}

.sandbars .text {
    color: #9098A5;
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.sandbars .text:hover {
    text-decoration: underline;
}

.header-sandbars {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-sandbars .main-text {
    font-weight: 500;
    color: var(--color-text-dark);
    font-size: 24px;
    text-decoration: none;
    line-height: 130%;
    margin-bottom: 8px;
}

.header-sandbars .text {
    color: #9098A5;
    display: block;
    font-size: 13px;
    margin-top: 16px;
    text-decoration: none;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btns-carousel {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .font-gilroy {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .font-gilroy {
        font-size: 12px;
    }

    .sandbars {
        gap: 0;
        width: 100%;

        .text {
            display: none;
        }

        .main-text {
            font-size: 16px;
        }
    }

    .btns-carousel {
        gap: 2rem;
    }
}