@font-face {
    font-family: 'Ubuntu';
    src: url('@/assets/fonts/Ubuntu-Regular.woff') format('woff'),
    url('@/assets/fonts/Ubuntu-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('@/assets/fonts/Ubuntu-Medium.woff') format('woff'),
    url('@/assets/fonts/Ubuntu-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy-Regular.woff') format('woff'),
    url('@/assets/fonts/Ubuntu-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('@/assets/fonts/Gilroy-Medium.woff') format('woff'),
    url('@/assets/fonts/Ubuntu-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #575F6C;
}
.font-gilroy {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    color: #333333;
}
.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1024px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 12px;
    }
}