@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
    url('./assets/fonts/Ubuntu-Regular.woff') format('woff'),
    url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
    url('./assets/fonts/Ubuntu-Medium.woff') format('woff'),
    url('./assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Regular.woff') format('woff'),
    url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('./assets/fonts/Gilroy-Medium.woff') format('woff'),
    url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #575F6C;
    scrollbar-color: #0072AB #FFFFFF;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0072AB;
    border-radius: 8px;
}

.font-gilroy {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-text-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*for footer*/
.sandbars {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 1rem;

    .main-text {
        font-weight: 500;
        color: #333;
        font-size: 1rem;
        text-decoration: none;
    }

    .text {
        color: #9098A5;
        display: block;
        margin-bottom: 0.5rem;
        text-decoration: none;
    }

    .text:hover {
        text-decoration: underline;
    }
}

.btns-carousel {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1024px) {
    * {
        font-size: 14px;
    }

    .font-gilroy {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 12px;
    }

    .font-gilroy {
        font-size: 12px;
    }

    .sandbars {
        gap: 0;
        width: 100%;

        .text {
            display: none;
        }
    }

    .btns-carousel {
        gap: 2rem;
    }
}